#question-counter {
  font-size: 12px;
  color: #5d5d5d;
  margin: auto;
  text-align: center;
  max-width: 600px;
  font-weight: 300;
  line-height: 1.09524;
  letter-spacing: 1px;
}

.quiz-container:after {
  content: "";
  display: table;
  clear: both;
}

.centered,
.quiz-container {
  float: none;
}

.question-container{
  display: flex;
  align-items: center;
  width: 100%; /* Take up the full width of the screen */
  margin: auto auto 3%;
  background: #5ada86;
}

.question-container img {
  flex: 0 0 auto; /* Allow image to grow or shrink as needed */
  max-width: 50%; /* Set maximum width of the image to 50% of container width */
  height: 147px;
  margin-left: 11%;
}

.question-container p {
  flex: 1;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
  max-width: 80%;
  padding-left: 2%;
  letter-spacing: 1px;
  text-align: left;
  padding-bottom: 5%;
}

#question {
  /*background: #66AFFF;*/
  background: #5ada86;
  color: #f8f8f8;
  padding-top: 4%;
}

.options-container {
  /*text-align: center;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.option {
  width: 70%;
  margin-left: 15%;
  margin-bottom: 1.5%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option:hover {
  background-color: #f0f0f0; /* Add hover effect for better visibility */
}

.option label {
  display: inline-block;
  margin-right: 5px; /* Adjust spacing between the radio button and label */
}

.selected {
  background-color: #5ada86;
  color: #fff;
}

.feedback-message{
  color: #5ada86;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  padding: 10px;
  width: 25%;
  margin: auto;
}

.button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  margin-top: 20px; /* Add some space between the buttons and other elements */
}

.submit,.go-back {
  width: 150px;
  padding: 10px 0;
  margin: 20px 10px;
  border: none;
  background-color: #5ada86;
  color: #fff;
  cursor: pointer;
}

.quiz-result {
  text-align: center;
  /*margin-top: 10px;*/
}

.images {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  width: 180px;
  height: auto;
}

.quiz-result h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.quiz-result p {
  font-size: 16px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .main {
    margin-top: 5%;
  }
  .question-number {
    margin-left: 7%;
  }
  #question {
    padding-top: 17%;
    padding-bottom: 17%;
    font-size: 18px;
    text-align: center;
  }
  .question-container  {
    font-size: 14px;
    margin-bottom: 5%;
  }
  .question-container img {
    display: none;
  }
  .feedback-message {
    font-size: 18px;
    text-align: center;
    padding: 5% auto;
    width: 100%;
  }
  .options-container {
    margin-bottom: 5%;
  }
  .option {
    width: 100%;
    margin: 5% auto;
    font-size: 13px;
  }
  .option:hover {
    background-color: #5ada86;
  }
  button {
    margin: 3% 0 1% auto;
    padding: 1% 10%;
    align-items: center;
  }
  .images {
    max-width: 100%;
    height: auto;
    width: 200px;
    margin: 0 auto;
  }
  .button-container {
    justify-content: center;
  }
  .submit,
  .go-back {
    width: 120px;
    padding: 10px 0;
    margin: 20px 115px;
    border: none;
    background: #5ada86;
    color: #fff;
    cursor: pointer;
  }
  .quiz-result {
    color: #1D212B;
    max-width: 600px;
    text-align: center;
    margin: 5% auto auto;
  }
  .result-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0;
  }
  .result-image {
    width: 120px;
    height: auto;
    margin-right: 20px;
    margin-top: 5%;
    margin-bottom: 20px;
  }
  .result-text {
    text-align: center;
  }
  .quiz-result h3 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #5d5d5d;
  }
  .quiz-result p {
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 25px;
  }
  .button-container {
    display: flex;
    justify-content: center;
  }
}
