<div class="quiz-container">
  <div *ngIf="depressionQuizService.currentQuestionIndex < depressionQuizService.questions.length"  id="question-counter">
    <p class="question-number">Question {{ depressionQuizService.getCurrentQuestionNumber() }} out of {{ depressionQuizService.questions.length }}</p>
  </div>

  <!-- Display feedback message -->
  <p class="feedback-message" *ngIf="depressionQuizService.showFeedback">{{ depressionQuizService.feedbackMessage }}</p>

  <div *ngIf="depressionQuizService.currentQuestionIndex < depressionQuizService.questions.length" class="question-container">
    <img src="assets/think.png" alt="Ena Thinking">
    <p id="question">
      {{ depressionQuizService.getCurrentQuestionNumber() }}. {{ depressionQuizService.questions[depressionQuizService.currentQuestionIndex].questionText }}
    </p>
  </div>

  <div class="options-container" *ngIf="depressionQuizService.currentQuestionIndex < depressionQuizService.questions.length">
    <div *ngFor="let option of depressionQuizService.questions[depressionQuizService.currentQuestionIndex].options; let j = index" class="option"
         [ngClass]="{ 'selected': j === depressionQuizService.questions[depressionQuizService.currentQuestionIndex].selectedOption }"
         (click)="depressionQuizService.selectOption(j)">
      {{ option }}
    </div>
  </div>
  <div class="button-container">
    <button *ngIf="depressionQuizService.currentQuestionIndex < depressionQuizService.questions.length" class="submit" (click)="submitAnswer()">Submit Answer</button>
  </div>

  <div *ngIf="depressionQuizService.currentQuestionIndex === depressionQuizService.questions.length" class="quiz-result" id="quiz-result">
    <div *ngIf="depressionQuizService.currentQuestionIndex === depressionQuizService.questions.length">
      <div class="quiz-result">
        <img [src]="depressionQuizService.getResultImage()" class="images" alt="Result Image">
        <h3>{{ depressionQuizService.getResultMessage() }}</h3>
        <p>You answered correctly on {{ depressionQuizService.getTotalScore() }} out of {{ depressionQuizService.getTotalQuestions() }} questions.</p>
        <button *ngIf="depressionQuizService.currentQuestionIndex === depressionQuizService.questions.length" class="go-back" (click)="goBack()">Go Back</button>
      </div>
    </div>
  </div>
</div>
