.main{
  background: #add3fc;
}

img{
  max-width: 60%;
  margin: 5% 5% auto 12%;
}

button{
  margin-bottom: 5%;
  width: 20%;
  font-size: 24px;
  font-family: "Gochi Hand", cursive;
  background: #202020F2;
}

button:hover{
  color: #add3fc;
}

@media only screen and (max-width: 767px) {
  body{
    margin: 0;
  }
  .header{
    display: none;
  }
  .main {
    background: #add3fc;
    padding: 20px;
    min-height: 92vh;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 50% auto 10px;
    object-fit: cover;
  }

  button {
    display: block;
    width: 100%;
    font-size: 18px;
    font-family: "Gochi Hand", cursive;
    background: #202020F2;
    color: #add3fc;
    padding: 10px;
    border-radius: 30px;
    margin-top: 200px;
  }

  button:hover {
    background: #202020;
  }
}
