a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.intro{
  color: #FFFFFF;
  margin-left: 50px;
  margin-bottom: 15%;
  font-weight: lighter;
}

.welcome{
  font-size: 30px;
  font-weight: bold;
  color: #f8f8f8;
}

.login{
  font-size: 20px;
  margin-top: -5px;
  font-weight: lighter;
  color: #f8f8f8;

}
.content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*max-height: calc(800px - 100px);*/
  /*margin-left: -9px;*/
}

.content .container .info {
  /*background: rgba(102, 175, 255, 0.8);*/
  background: #66AFFF;
  padding-top: 4%;
  padding-bottom: 5%;
  width: 50%;
  border-radius: 40px;
}

.content .image img {
  max-width: 100%;
  /*margin-left: 10%;*/
}

.form{
  /*height: 100%;*/
  padding-left: 10%;
  width: 80%;
}

input {
  background: #FFFFFF;
  width: 100%;
  height: 40px;
  padding: 2px 2px 2px 15px;
  margin-bottom: 15px;
  margin-top: 5px;
  color: #202020F2;
  font-size: 13px;
  font-weight: lighter;
  border: 0.2px solid #5D5D5D16;
  border-bottom: 0.1px solid #5D5D5D59;
  border-radius: 30px;
}

/*input::placeholder {*/
/*  padding: 10px;*/
/*}*/

label {
  /*color: #202020F2;*/
  color: #f8f8f8;
  margin-left: 5px;
  font-weight: lighter;
  padding: 2px;
}

select {
  width: 104%;
  margin-top: 5px;
  margin-bottom: 20px;
  color: #5d5d5d;
  font-size: 13px;
  font-weight: lighter;
  border: 0.1px solid rgba(93, 93, 93, 0.09);
  border-bottom: 0.1px solid rgba(93, 93, 93, 0.35);
  border-radius: 30px;
  box-sizing: border-box;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding: 15px 10px 15px 15px;
}
.background-image{
  background-repeat: no-repeat;
  background-position: right 10px center;
}

/* Style the select dropdown arrow icon */
select::-ms-expand {
  display: none; /* Remove default arrow in Internet Explorer */
}

.content .info button {
  margin-bottom: 10px;
  padding: 8px 50px;
  width: 83%;
  height: 40px;
  border-radius: 20px;
  margin-left: 50px;
  cursor: pointer;
  color: #f8f8f8;
  background: #202020F2;
  font-size: 18px;
  font-weight: lighter;
}

.content .info button:hover {
  color: #5d5d5d;
  cursor: pointer;
}

a{
  color: #FFFFFF;
  appearance: none;
  font-weight: bold;
}

.register{
  color: #FFFFFF;
  margin-left: 50px;
  font-weight: lighter;
  margin-top: 10%;
}






