<div class="content">
  <div class="container">
    <div class="info">
      <div class="intro">
        <h2 class="welcome">Hi there, first time here? 🤩</h2>
        <h4 class="login">Create an account to start your mental health journey </h4>
      </div>
      <div class="form">
        <form [formGroup]="registerForm" (ngSubmit)="submit()">
          <label for="name">Full Name</label>
          <input id="name" type="text" [formControlName]="'fullName'" placeholder="Jane Doe">
          <label for="gender">Gender</label>
          <input id="gender" type="text" [formControlName]="'gender'" placeholder="Female">
          <label for="age">Age</label>
          <input id="age" type="text" [formControlName]="'age'" placeholder="20">
          <label for="email">Email address</label>
          <input id="email" type="email" [formControlName]="'email'" placeholder="name@example.com">
          <label for="pass">Password</label>
          <input id="pass" type="password" [formControlName]="'password'" placeholder="********">
          <div>
             <button type="submit">Register</button>
          </div>
        </form>
      </div>

      <p class="register">You already have an account? <a href="./login" >Login here.</a></p>
    </div>
    <div class="image">
      <img src="assets/Register.png" style="width: 90%; padding-left: 50px;">
    </div>
  </div>
</div>
