<div class="content">
  <div class="container">
    <div class="info">
      <div class="intro">
        <h2 class="welcome">Hi there, first time here? 🤩</h2>
        <h4 class="login">Create an account to start your mental health journey </h4>
      </div>
      <div class="form">
        <form [formGroup]="registerForm" (ngSubmit)="submit()">
          <label for="name">Full Name</label>
          <input id="name" type="text" [formControlName]="'name'" placeholder="Jane Doe">
          <label for="gender">Gender</label>
            <select id="gender" name="gender" [formControlName]="'gender'" [style.backgroundImage]="'url(' + arrowImageUrl + ')'" style="padding-right: 30px;">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
            <label for="age">Age</label>
            <select id="age" name="age" [formControlName]="'age'" [style.backgroundImage]="'url(' + arrowImageUrl + ')'" style="padding-right: 30px;">
              <option value="18-24">18-24</option>
              <option value="25-34">25-34</option>
              <option value="35-44">35-44</option>
              <option value="45-54">45-54</option>
              <option value="55+">55+</option>
            </select>
          <label for="email">Email address</label>
          <input id="email" type="email" [formControlName]="'email'" placeholder="name@example.com">
          <label for="pass">Password</label>
          <input id="pass" type="password" [formControlName]="'password'" placeholder="********">
        </form>
      </div>
      <button type="submit" [disabled]="registerForm.invalid" (click)="navigateToHome()">Register</button>
      <p class="register">You already have an account? <a href="./login" >Login here.</a></p>
    </div>
    <div class="image">
      <img src="assets/Register.png" style="width: 90%; padding-left: 50px;">
    </div>
  </div>
</div>
