<app-header></app-header>
<div class="background-image">
  <div class="img-slider">
    <div class="slide active">
      <img src="assets/girl-gamer.jpg" alt="">
      <div class="info">
        <h1>Mental health…is not a destination, but a process. It’s about how you drive, not where you’re going. </h1>
        <h2>— Noam Shpancer</h2>
      </div>
    </div>
    <div class="slide">
      <img src="assets/adela.jpg" alt="">
      <div class="info">
        <h1>There is hope, even when your brain tells you there isn’t.</h1>
        <h2>— John Green</h2>
      </div>
    </div>
    <div class="slide">
      <img src="assets/adela.jpg" alt="">
      <div class="info">
        <h1>Self-care is how you take your power back.</h1>
        <h2>— Lalah Delia</h2>
      </div>
    </div>
    <div class="slide">
      <img src="assets/girl-gamer.jpg" alt="">
      <div class="info">
        <h1>‘Positive vibes only’ isn’t a thing. Humans have a wide range of emotions and that’s OK.</h1>
        <h2>— Molly Bahr</h2>
      </div>
    </div>
    <div class="slide">
      <img src="assets/adela.jpg" alt="">
      <div class="info">
        <h1>Your mental health is everything – prioritize it. Make the time like your life depends on it, because it does.</h1>
        <h2>— Mel Robbins</h2>
      </div>
    </div>
  </div>
  <button class="button" (click)="navigateToFirstQuiz()">Quiz</button>
</div>
<app-footer></app-footer>
