<header>
<div class="container">
  <a href="#" class="logo">Mind<b>Space</b> <!--<img src="assets/Logo.png" style="width: 40px;">--></a>
  <ul class="links">
    <li><button type="button" (click)="navigateToEducation()" class="button-secondary-regular separator-right" mat-flat-button>Home</button></li>
    <li><button type="button" (click)="navigateToHome()" class="button-secondary-regular separator-right" mat-flat-button>Education</button></li>
    <li><button type="button" (click)="navigateToGames()" class="button-secondary-regular separator-right" mat-flat-button>Games</button></li>
    <li><button type="button" (click)="navigateToVideos()" class="button-secondary-regular separator-right" mat-flat-button>Videos</button></li>
    <li><button type="button" (click)="navigateToMusic()" class="button-secondary-regular separator-right" mat-flat-button>Music</button></li>

    <!--    <li><button type="button" (click)="navigateToProfile()" class="button-secondary-regular separator-right" mat-flat-button>Profile</button></li>-->
<!--    <li><button type="button" id="last_button" (click)="navigateToRegister()" class="button-secondary-regular separator-right" mat-flat-button>Register</button></li>-->
<!--    <li><button type="button" id="last2_button" (click)="navigateToLogin()" class="button-secondary-regular separator-right" mat-flat-button>Login</button></li>-->
  </ul>
</div>
</header>
