a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  background: transparent;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo-pic {
  /*color: #5d5d5d;*/
  /*font-style: italic;*/
  text-transform: uppercase;
  color: #66AFFF;
  font-size: 20px;
  object-fit: cover;
}

header .links {
  display: flex;
  align-items: center;
}

header .links .first_buttons, .last_button {
  cursor: pointer;
  border-radius: 20px;
  border: white;
  background-color: transparent;
  /*margin: 5%;*/
  padding: 7px 30px;
}

header .links .first_buttons {
  color: #202020F2;
}

header .links .last_button {
  /*margin: 5px 5px 5px 6%;*/
  background-color: #66AFFF;
}

header .links .first_buttons:hover {
  color: #66AFFF;
}

header .links .last_button:hover {
  color: #202020;
}
/*!*header .links #last_button:last-child {*!*/
/*!*  border-radius: 20px;*!*/
/*!*  margin: 2%;*!*/
/*!*  background: #66AFFF;*!*/
/*!*  color: #f8f8f8;*!*/
/*!*}*!*/
/*header .links .last_button {*/
/*  border-radius: 20px;*/
/*  margin: 2%;*/
/*  background: #FFFFFF;*/
/*  color: #202020;*/
/*}*/

/*header .links .last_button:hover {*/
/*  color: #66AFFF;*/
/*  cursor: pointer;*/
/*}*/

.content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 80px);
}

@media (max-width: 767px) {
  .content .container {
    gap: 0;
    min-height: calc(100vh - 101px);
    justify-content: center;
    flex-direction: column-reverse;
  }

  .content .info {
    text-align: center;
    margin-bottom: 15px;
  }

  header .logo {
    margin-top: 20px;
    margin-bottom: 10px; /* Adjust as needed */
  }

  header .logo img {
    height: 30px; /* Set the height of the images in mobile version */
  }
}


/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .container links{
    display: none;
  }
  header .logo .logo-pic {
    display: none; /* Hide the first logo image in mobile version */
  }
  header .logo {
    margin-top: 20px;
    margin-bottom: 10px; /* Adjust as needed */
  }
  header .logo img {
    height: 30px; /* Set the height of the images in mobile version */
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  header .logo .logo-pic {
    display: none; /* Hide the first logo image in mobile version */
  }
  header .logo {
    margin-top: 20px;
    margin-bottom: 10px; /* Adjust as needed */
  }
  header .logo img {
    height: 30px; /* Set the height of the images in mobile version */
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1270px;
  }
  header .logo .logo-pic {
    display: none; /* Hide the first logo image in mobile version */
  }
  header .logo {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  header .logo img {
    height: 40px;
  }

  header .logo .logo-pic {
    display: none;
  }
}

@media (max-width: 767px) {
  header {
    min-height: auto;
    display: initial;
  }

  header .container {
    flex-direction: column;
    align-items: center;
  }
  header .logo .logo-pic {
    display: none;
  }
  header .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  header .links {
    display: none;
  }

  header .links button {
    margin-left: 0;
  }
  header .logo {
    margin-top: 20px;
    margin-bottom: 10px; /* Adjust as needed */
  }

  header .logo img {
    height: 30px; /* Set the height of the images in mobile version */
  }
}
