.main{
  margin-top: 4%;
}

#question-counter {
  font-size: 12px;
  color: #5d5d5d;
  margin: auto;
  text-align: center;
  max-width: 600px;
  font-weight: 300;
  line-height: 1.09524;
  letter-spacing: 1px;
}

.quiz-container:after {
  content: "";
  display: table;
  clear: both;
}

.centered,
.quiz-container {
  float: none;
}

.quiz-container h2
 {
  text-align: center;
  max-width: 600px;
  margin: auto auto 1%;
  color: #525559;
  font-size: 35px;
  font-weight: 300;
  line-height: 1.09524;
  letter-spacing: 1px;
  padding-bottom: 5px;

}

.question-container p{
  font-weight: 300;
  font-size: 25px;
  line-height: 1.5;
  /*margin-top: 3%;*/
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 5%;
}

#question {
  background: #66AFFF;
  color: #f8f8f8;
  padding-top: 5%;
  font-size: 18px;
}
.options-container {
  /*text-align: center;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.option {
  width: 48%; /* Adjust as needed, leave some space for margin */
  margin-left: 25%; /* Adjust spacing between options */
  margin-bottom: 3%;
  padding: 10px; /* Add padding to create a box */
  border: 1px solid #ccc; /* Add border for box styling */
  border-radius: 30px; /* Optional: Add border-radius for rounded corners */
  cursor: pointer; /* Add cursor pointer for better UX */
  transition: background-color 0.3s; /* Add smooth transition for color change */

}

.option:hover {
  background-color: #f0f0f0; /* Add hover effect for better visibility */
}

.option label {
  display: inline-block;
  margin-right: 5px; /* Adjust spacing between the radio button and label */
}

.selected {
  background-color: #66AFFF; /* Set the color for selected option */
  color: #fff; /* Set text color for better visibility */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit,
.go-back {
  width: 150px;
  padding: 10px 0;
  margin: 20px 10px;
  border: none;
  background-color: #66AFFF;
  color: #fff;
  cursor: pointer;
}


.button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  margin-top: 20px; /* Add some space between the buttons and other elements */
}

.submit,.go-back {
  width: 150px;
  padding: 10px 0;
  margin: 20px 10px;
  border: none;
  background-color: #66AFFF;
  color: #fff;
  cursor: pointer;
}

.quiz-result {
  text-align: center;
  /*margin-top: 10px;*/
}

.images {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  width: 180px;
  height: auto;
}

.quiz-result h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.quiz-result p {
  margin-left: 30%;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 25px;
  text-align: center;
  width: 40%;
}

@media (max-width: 768px) {
  .main {
    margin-top: 5%;
  }

  #question {
    padding-top: 17%;
    padding-bottom: 17%;
    font-size: 15px;
  }

  .question-container  {
    font-size: 14px;
    margin-bottom: 5%;
  }

  .options-container {
    margin-bottom: 5%;
  }

  .option {
    width: 100%;
    margin: 5% auto;
    font-size: 13px;
  }

  button {
    margin: 3% 0 1% auto;
    padding: 1% 10%;
  }

  .images {
    max-width: 100%;
    height: auto;
    width: 200px;
    margin: 0 auto;
  }

  .button-container {
    justify-content: center;
  }

  .submit,
  .go-back {
    width: 120px;
    padding: 10px 0;
    margin: 20px 25px;
    border: none;
    background-color: #66AFFF;
    color: #fff;
    cursor: pointer;
  }
  .quiz-result {
    color: #1D212B;
    max-width: 600px;
    text-align: center;
    margin: 20% auto auto;
  }

  .result-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0;
  }

  .result-image {
    width: 120px;
    height: auto;
    margin-right: 20px;
    margin-top: 5%;
    margin-bottom: 20px;
  }

  .result-text {
    text-align: center;
  }

  .quiz-result h3 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #5d5d5d;
  }

  .quiz-result p {
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 25px;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }
}
