<app-header class="header"></app-header>

<div class="main">
  <div class="intro">
    <h2>🌺 Exercise for Serenity: Combating Depression and Stress with Physical Activity 🧘</h2>
    <p class="text-intro">{{intro}}</p>
</div>

<div class="breathing-container">
  <h2 class="title" *ngIf="!isBreathing && !isTimeUp">Breathing Exercise</h2>
  <p class="message" *ngIf="!isBreathing && !isTimeUp">Click to start your breathing exercise</p>
  <p class="timer" *ngIf="isBreathing">Time left: {{ formatTime(timeLeft) }}</p>
  <div *ngIf="isBreathing" class="instructions">
    <p class="follow">Follow these instructions:</p>
    <h4 class="follow-instructions"> ✔︎ {{ currentInstruction }}</h4>
  </div>
  <h3 class="message" *ngIf="isTimeUp">Congratulations 🏆! You've completed the breathing exercise.</h3>
  <div class="button-container">
    <button class="start-button" *ngIf="!isBreathing && !isTimeUp" (click)="startBreathingExercise()">Start</button>
    <button class="stop-button" *ngIf="isBreathing" (click)="stopBreathingExercise()">Stop</button>
  </div>
</div>

  <h2 id="playlist">🏊🏼‍♀️ Exercises</h2>
  <div class="card-container">
    <img class="card-img" src="assets/Run.jpg" alt="Image">
    <h4>Running</h4>
    <p class="text">Exercise proves to be a valuable ally in supporting mental health by triggering the release of 'feel-good'
      chemicals like endorphins and serotonin, contributing to mood improvement. Overcoming potential obstacles,
      such as lack of motivation, cost concerns, anxiety, or time constraints, involves setting small goals,
      exploring affordable options, and breaking exercise into manageable chunks. The emphasis is on finding
      enjoyable activities, considering various resources and support networks, and ultimately integrating
      exercise seamlessly into daily routines for enhanced mental well-being. </p>
  </div>
  <div class="card-container">
    <img class="card-img" src="assets/Walk.jpg" alt="Image">
    <h4>Walking</h4>
    <p class="text">Exercise proves to be a valuable ally in supporting mental health by triggering the release of 'feel-good'
      chemicals like endorphins and serotonin, contributing to mood improvement. Overcoming potential obstacles,
      such as lack of motivation, cost concerns, anxiety, or time constraints, involves setting small goals,
      exploring affordable options, and breaking exercise into manageable chunks. The emphasis is on finding
      enjoyable activities, considering various resources and support networks, and ultimately integrating
      exercise seamlessly into daily routines for enhanced mental well-being. </p>
  </div>
  <div class="card-container">
    <img class="card-img" src="assets/Swim.jpg" alt="Image">
    <h4>Swimming</h4>
    <p class="text">Exercise proves to be a valuable ally in supporting mental health by triggering the release of 'feel-good'
      chemicals like endorphins and serotonin, contributing to mood improvement. Overcoming potential obstacles,
      such as lack of motivation, cost concerns, anxiety, or time constraints, involves setting small goals,
      exploring affordable options, and breaking exercise into manageable chunks. The emphasis is on finding
      enjoyable activities, considering various resources and support networks, and ultimately integrating
      exercise seamlessly into daily routines for enhanced mental well-being. </p>
  </div>
  <div class="card-container">
    <img class="card-img" src="assets/Joga.jpg" alt="Image">
    <h4>Joga</h4>
    <p class="text">Exercise proves to be a valuable ally in supporting mental health by triggering the release of 'feel-good'
      chemicals like endorphins and serotonin, contributing to mood improvement. Overcoming potential obstacles,
      such as lack of motivation, cost concerns, anxiety, or time constraints, involves setting small goals,
      exploring affordable options, and breaking exercise into manageable chunks. The emphasis is on finding
      enjoyable activities, considering various resources and support networks, and ultimately integrating
      exercise seamlessly into daily routines for enhanced mental well-being. </p>
  </div>
<!--<div *ngFor="let description of descriptions" class="description">-->
<!--  <p id="title">{{ description.title }}</p>-->
<!--  <p>{{ description.text }}</p>-->
<!--</div>-->
<div class="playlist">
  <h2> 🧘‍♀️ Exercise Playlist</h2>
  <div class="video-list">
    <div *ngFor="let video of videos" class="video-container">
      <iframe class="videos" width="560" height="315" [src]="video.embedUrl" frameborder="0" allowfullscreen></iframe>
      <h3 class="video-title">{{ video.title }}</h3>
    </div>
  </div>
</div>
</div>
<app-footer class="footer"></app-footer>
