<app-header></app-header>

<div class="intro">
  <h2>🎵🎻 Harmony for the Mind: Welcome to our Music Health Hub! 🎶</h2>
  <p class="text">{{ intro }}</p>
</div>

<div class="why">
  <h2>How Music Affects Mental Health?</h2>
  <iframe class="intro-video" src="https://www.youtube.com/embed/_eXdP7ojSkI?si=BYES8_odHJPH8E1m" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<!--<div *ngIf="!videoWatched">-->
<!--  <h3 class="text"> To unlock the playlist of songs that address mental health issues that-->
<!--    provide support and encouragement, please watch the video below. </h3>-->

<!--  <div class="container-video">-->
<!--    <div class="video">-->
<!--      <video (ended)="unlockContent()" (loadedmetadata)="trackVideoProgress()">-->
<!--        <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />-->
<!--        Browser not supported-->
<!--      </video>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div *ngIf="!videoWatched">
  <h3 class="text"> 🔓 To unlock the playlist of songs that address mental health issues and provide support and encouragement, please watch the video below 👀
  </h3>

  <div class="container-video">
    <div class="video">
      <video #videoPlayer class="video-player" (ended)="unlockContent()" (loadedmetadata)="trackVideoProgress()" (play)="hidePlayButton()" preload="metadata">
        <source src="assets/video-mental-health.mp4"  />
        Browser not supported
      </video>
      <button *ngIf="showPlayButton" class="play-button" (click)="playVideo()">
        <mat-icon class="icon">play_circle_outline</mat-icon>
      </button>
      <button *ngIf="showSkipButton" class="skip-button" (click)="skipVideo()">Skip</button>
    </div>
    </div>

</div>

<div id="unlockedContent" *ngIf="videoWatched">
  <h2 class="title">Music Playlist</h2>
  <div class="playlist">
    <div class="video-list">
      <div *ngFor="let video of videos" class="video-container">
        <iframe class="songs" width="560" height="315" [src]="video.embedUrl" frameborder="0" allowfullscreen></iframe>
        <h3>{{ video.title }}</h3>
        <p>{{ video.description }}</p>
      </div>
    </div>
  </div>
</div>

<p class="text" id="closing">{{ closing }}</p>
<app-footer class="footer"></app-footer>
