#game-board {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 20px;
  margin: 2% 6%;
}

.card {
  width: 110px;
  font-family: "Gochi Hand", cursive;
  height: 110px;
  background-color: #3498db;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  cursor: pointer;
  border-radius: 8px;
}

.card.flipped {
  background-color: #E0A3AA;
}

.card.matched {
  background-color: #2ecc71;
  pointer-events: none;
}

.container {
  display: flex;
  align-items: center;
}

.image {
  max-width: 38%;
  margin-left: 5%;
}

.result-image{
  max-width: 100%;
  height: 320px;
  margin: auto 27%
}

.game-container {
  margin-left: 20px;
}

.timer {
  text-align: center;
  color: #5d5d5d;
}

.congratulatory-message{
  text-align: center;
  margin-top: 5%;
}

.congratulatory-message h3{
  font-size: 30px;
  color: #5d5d5d;
}

.congratulatory-message button {
  margin-top: 10px;
}

.submit {
  width: 150px;
  padding: 10px 0;
  margin: 20px 10px;
  border: none;
  background-color: #66AFFF;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image {
    max-width: 80%;
    margin-bottom: 20px;
  }
  .timer {
    text-align: center;
    margin-bottom: 20px;
  }
  .congratulatory-message {
    text-align: center;
    margin-top: 50px;
  }
  .congratulatory-message h3 {
    font-size: 24px;
    color: #5d5d5d;
  }
  .congratulatory-message button {
    margin-top: 10px;
  }
  #game-board {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(4, 70px);
    grid-gap: 5px;
    margin: 0 auto 20px;
  }
  .card {
    width: 100px;
    height: 100px;
    font-family: "Gochi Hand", cursive;
    background-color: #3498db;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
  }
  .card.flipped {
    background-color: #E0A3AA;
  }
  .card.matched {
    background-color: #2ecc71;
    pointer-events: none;
  }
  .image {
    max-width: 80%;
  }
  .congratulatory-message h3 {
    font-size: 20px;
  }
  .card {
    width: 60px;
    height: 60px;
    font-size: 14px;
  }
}
