<div class="quiz-container">
  <div *ngIf="anxietyQuizService.currentQuestionIndex < anxietyQuizService.questions.length"  id="question-counter">
    <p class="question-number">Question {{ anxietyQuizService.getCurrentQuestionNumber() }} out of {{ anxietyQuizService.questions.length }}</p>
  </div>

  <!-- Display feedback message -->
  <p class="feedback-message" *ngIf="anxietyQuizService.showFeedback">{{ anxietyQuizService.feedbackMessage }}</p>

  <div *ngIf="anxietyQuizService.currentQuestionIndex < anxietyQuizService.questions.length" class="question-container">
    <img src="assets/Ena-Looking.png" alt="Ena Thinking">
    <p id="question">
      {{ anxietyQuizService.getCurrentQuestionNumber() }}. {{ anxietyQuizService.questions[anxietyQuizService.currentQuestionIndex].questionText }}
    </p>
  </div>

  <div class="options-container" *ngIf="anxietyQuizService.currentQuestionIndex < anxietyQuizService.questions.length">
    <div *ngFor="let option of anxietyQuizService.questions[anxietyQuizService.currentQuestionIndex].options; let j = index" class="option"
         [ngClass]="{ 'selected': j === anxietyQuizService.questions[anxietyQuizService.currentQuestionIndex].selectedOption }"
         (click)="anxietyQuizService.selectOption(j)">
      {{ option }}
    </div>
  </div>
  <div class="button-container">
    <button *ngIf="anxietyQuizService.currentQuestionIndex < anxietyQuizService.questions.length" class="submit" (click)="submitAnswer()">Submit Answer</button>
  </div>

  <div *ngIf="anxietyQuizService.currentQuestionIndex === anxietyQuizService.questions.length" class="quiz-result" id="quiz-result">
    <div *ngIf="anxietyQuizService.currentQuestionIndex === anxietyQuizService.questions.length">
      <div class="quiz-result">
        <img [src]="anxietyQuizService.getResultImage()" class="images" alt="Result Image">
        <h3>{{ anxietyQuizService.getResultMessage() }}</h3>
        <p>You answered correctly on {{ anxietyQuizService.getTotalScore() }} out of {{ anxietyQuizService.getTotalQuestions() }} questions.</p>
        <button *ngIf="anxietyQuizService.currentQuestionIndex === anxietyQuizService.questions.length" class="go-back" (click)="goBack()">Go Back</button>
      </div>
    </div>
  </div>
</div>
