<app-header class="logo"></app-header>
<div class="main">

<div class="container">
  <div class="text-section">
    <div class="mind-space">
      <span class="mind">Welcome to Mind</span>
      <span class="space">SPACE</span>
    </div>

    <p class="intro">Step into a space of compassion and understanding. Welcome to a community focused on mental well-being,
      where support and resources come together. Your journey to a healthier mind begins here. You're not alone,
      let's navigate this path together.</p>
    <h3 class="swipe-down">Swipe down ↓ </h3>

  </div>

  <div class="image-section">
    <img class="img-start" src="assets/Welcome.png" alt="Image Ena Avatar">
  </div>
</div>

<div class="service">
  <h1>Our Services</h1>
</div>

<div class="card-container">
  <a (click)="navigateToGameIntro()">
      <div class="card">
      <img class="card-img" src="assets/Home-Puzzle.jpg" alt="Image">
      <h4>Entertainment</h4>
      <p class="text">Explore the world of games</p>
      </div>
  </a>

  <a (click)="navigateToVideoIntro()">
    <div class="card">
      <img class="card-img" src="assets/Home-Books.jpg" alt="Image">
      <h4>Education</h4>
      <p class="text">Embrace the power of education</p>
    </div>
  </a>

  <a (click)="navigateToMusicIntro()">
    <div class="card">
      <img class="card-img" src="assets/Home-Music.jpg" alt="Image">
      <i class="gg-headset"></i>
      <h4>Relaxation</h4>
            <p>Discover the serenity of relaxation</p>
    </div>
  </a>

  <a (click)="navigateToExerciseIntro()">
    <div class="card">
      <img class="card-img" src="/assets/Home-Exercise.jpg" alt="Image">
      <h4>Exercises</h4>
      <p>Move for healthier and happier you</p>
    </div>
  </a>
</div>


<div class="new-cards">

      <div class="new-card">
        <img class="cards-img1" src="assets/card1.png" alt="Image">
        <div class="new-card-content">
          <a (click)="navigateToGameIntro()">
            <h4>Does Entertainment Ease Stress?</h4>
          </a>
          <p>
            Engaging in gaming in a positive manner can serve as a valuable means of caring for your mental well-being.
            It provides a space for relaxation and a break from the daily stresses, akin to activities such as reading
            or taking a walk. Gaming fosters a sense of accomplishment and facilitates the acquisition of new skills,
            such as problem-solving. Additionally, it offers a sociable and enjoyable avenue to stay connected with
            friends and family.
          </p>
          <a class="check-out" (click)="navigateToGameIntro()"> &#8689; Check out our simple games</a>
      </div>
      </div>



      <div class="new-card">
        <div class="new-card-content">
          <a (click)="navigateToVideoIntro()">
            <h4>Why Invest in Mental Health Literacy?</h4>
          </a>
          <p>
            Understanding mental health is crucial as it empowers individuals to recognize, address, and destigmatize
            mental health challenges. By promoting positive conversations, individuals can contribute to reducing
            the impact of mental health challenges, enabling early intervention and creating a compassionate environment.
            Ultimately, mental health education equips people with valuable tools for self-care, promotes empathy,
            and strengthens connections within communities.
          </p>
          <a class="check-out" (click)="navigateToVideoIntro()"> &#8689; Learn from other stories</a>
        </div>
        <img class="cards-img2" src="assets/card2.png" alt="Image">
      </div>



    <div class="new-card">
      <img class="cards-img1" src="assets/card3.jpg" alt="Image">
      <div class="new-card-content">
        <a (click)="navigateToMusicIntro()">
          <h4>How Does Relaxation Support Mental Health?</h4>
        </a>
        <p>
          Research indicates that music can alleviate anxiety, lower stress levels, and facilitate emotional expression.
          For teens, music becomes a crucial element in self-discovery, building communities, and fostering a sense
          of belonging. Whether as a quick mood booster or a tool for those with hearing loss, music emerges as a
          versatile and accessible avenue for promoting mental well-being.
        </p>
        <a class="check-out" (click)="navigateToMusicIntro()"> &#8689; Relax by listening to music</a>
      </div>
    </div>


    <div class="new-card">
      <div class="new-card-content">
        <a (click)="navigateToExerciseIntro()">
          <h4>How Does Physical Activity Impact the Mind?</h4>
        </a>
        <p>
          Exercise proves to be a valuable ally in supporting mental health by triggering the release of 'feel-good'
          chemicals like endorphins and serotonin, contributing to mood improvement. Overcoming potential obstacles,
          such as lack of motivation, cost concerns, anxiety, or time constraints, involves setting small goals,
          exploring affordable options, and breaking exercise into manageable chunks. The emphasis is on finding
          enjoyable activities, considering various resources and support networks, and ultimately integrating
          exercise seamlessly into daily routines for enhanced mental well-being.
        </p>
        <a class="check-out" (click)="navigateToExerciseIntro()"> &#8689; Find your physical activity</a>
      </div>
      <img class="cards-img2" src="/assets/card4.jpg" alt="Image">
    </div>

</div>
  <app-footer class="footer"></app-footer>
</div>
