<app-header></app-header>
<!--<div class="main">-->
<!--  <div class="container">-->
<!--      <img src="assets/dice.png" style="height:310px; width:260px;">-->

<!--      <a (click)="navigateToGames()" style="color: #5d5d5d; text-decoration: none;">-->
<!--        <h2 class="title-link">Gaming Zone: Your Haven for Healing</h2></a>-->
<!--    <p class="text">In the bustling world we navigate, finding moments of solace is crucial. Gaming Zone is not just a collection-->
<!--      of games;-->
<!--      it's a sanctuary designed to provide joy, relaxation, and a helping hand on your journey towards emotional-->
<!--      well-being.</p>-->
<!--    <p class="text">Dive into a world of captivating games that challenge and delight. Let the immersive gameplay transport-->
<!--      you to a space of calm and tranquility.Through the joy of play, find moments of healing.</p>-->
<!--    <p class="text">Embark on a gaming experience crafted with care to bring smiles and moments of triumph.</p>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="picture">-->
<!--  <div class="container">-->
<!--    <h2>Your Companion in Tough Times</h2>-->
<!--    <p>Let the immersive gameplay transport you to a space of calm and tranquility.</p>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="main">-->
<!--  <div class="container">-->
<!--    <img src="assets/brain.png" height="260" width="280">-->

<!--    <a (click)="navigateToVideos()" style="color: #5d5d5d; text-decoration: none;">-->
<!--      <h2 class="title-link">Do You Know Enough About Mental Health?</h2></a>-->
<!--    <p class="text">The importance of mental health awareness cannot be overstated in today's fast-paced and-->
<!--      interconnected world. As societal pressures and expectations continue to rise, individuals-->
<!--      are increasingly confronted with challenges that can take a toll on their mental well-being.</p>-->
<!--     <p>Recognizing and understanding the significance of mental health is crucial for fostering a-->
<!--      compassionate and supportive environment.</p>-->
<!--    <p class="text">Mental health awareness promotes early intervention-->
<!--      and encourages individuals to prioritize their mental well-being-->
<!--      just as they would their physical health. </p>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="main">-->
<!--  <div class="container">-->
<!--    <img src="assets/music.png" height="260" width="280">-->

<!--    <a (click)="navigateToMusic()" style="color: #5d5d5d; text-decoration: none;">-->
<!--      <h2 class="title-link">How Powerful is Music for Your Mind?</h2></a>-->
<!--    <p class="text">Music has proven to be a powerful and therapeutic tool for mental health support.-->
<!--      Its ability to evoke emotions, provide an outlet for self-expression, and offer a sense-->
<!--      of connection can significantly impact one's well-being.-->
<!--    <p class="text">Listening to music has been shown to-->
<!--      reduce stress, anxiety, and depression, providing a source of comfort and solace during challenging-->
<!--      times. Music has the unique capacity to resonate with individual experiences and help individuals-->
<!--    process their emotions.</p>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="main">-->
<!--  <div class="container">-->
<!--    <img src="assets/tools.jpg" height="260" width="280">-->

<!--    <a  (click)="navigateToExercises()" style="color: #5d5d5d; text-decoration: none;">-->
<!--      <h2 class="title-link">Can Exercise Improve Mental Health?</h2></a>-->
<!--    <p class="text">Regular exercise is crucial for maintaining not just physical but also mental well-being.-->
<!--      Engaging in physical activity releases endorphins, commonly known as "feel-good" hormones, which contribute-->
<!--      to a positive mood and reduce stress.-->
<!--    <p class="text">Exercise has also been linked to improved cognitive function,-->
<!--    better sleep, and enhanced self-esteem, making it a fundamental component of a holistic approach to overall health.</p>-->
<!--  </div>-->
<!--</div>-->



<!--<img src="assets/MindSpace.png" style="width: 30%;">-->

<!--<div class="main">-->
<!--  <div class="container">-->
<!--    &lt;!&ndash;<div class="main">&ndash;&gt;-->
<!--    &lt;!&ndash;  <div class="container">&ndash;&gt;-->
<!--          <img src="assets/dice.png" style="height:310px; width:260px;">-->

<!--          <a (click)="navigateToGames()" style="color: #5d5d5d; text-decoration: none;">-->
<!--            <h2 class="title-link">Entertainment</h2></a>-->
<!--        <p class="text">In the bustling world we navigate, finding moments of solace is crucial. Gaming Zone is not just a collection-->
<!--          of games;-->
<!--          it's a sanctuary designed to provide joy, relaxation, and a helping hand on your journey towards emotional-->
<!--          well-being.</p>-->
<!--         </div>-->
<!--    </div>-->


<!--    <div class="picture">-->
<!--      <div class="container">-->
<!--        <h2>Your Companion in Tough Times</h2>-->
<!--        <p>Let the immersive gameplay transport you to a space of calm and tranquility.</p>-->
<!--      </div>-->
<!--    </div>-->


<!--    <div class="main">-->
<!--      <div class="container">-->
<!--        <img src="assets/brain.png" height="260" width="280">-->

<!--        <a (click)="navigateToVideos()" style="color: #5d5d5d; text-decoration: none;">-->
<!--          <h2 class="title-link">Education</h2></a>-->
<!--&lt;!&ndash;        <p class="text">The importance of mental health awareness cannot be overstated in today's fast-paced and&ndash;&gt;-->
<!--&lt;!&ndash;          interconnected world. As societal pressures and expectations continue to rise, individuals&ndash;&gt;-->
<!--&lt;!&ndash;          are increasingly confronted with challenges that can take a toll on their mental well-being.</p>&ndash;&gt;-->
<!--         <p class="text">Recognizing and understanding the significance of mental health is crucial for fostering a-->
<!--          compassionate and supportive environment.</p>-->
<!--        <p class="text">Mental health awareness promotes early intervention-->
<!--          and encourages individuals to prioritize their mental well-being-->
<!--          just as they would their physical health. </p>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="main">-->
<!--      <div class="container">-->
<!--        <img src="assets/music.png" height="260" width="280">-->

<!--        <a (click)="navigateToMusic()" style="color: #5d5d5d; text-decoration: none;">-->
<!--          <h2 class="title-link">Relaxation</h2></a>-->
<!--        <p class="text">Music has proven to be a powerful and therapeutic tool for mental health support.-->
<!--          Its ability to evoke emotions, provide an outlet for self-expression, and offer a sense-->
<!--          of connection can significantly impact one's well-being.-->
<!--        <p class="text">Listening to music has been shown to-->
<!--          reduce stress, anxiety, and depression, providing a source of comfort and solace during challenging-->
<!--          times. Music has the unique capacity to resonate with individual experiences and help individuals-->
<!--        process their emotions.</p>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="main">-->
<!--      <div class="container">-->
<!--        <img src="assets/tools.jpg" height="260" width="280">-->

<!--        <a  (click)="navigateToExercises()" style="color: #5d5d5d; text-decoration: none;">-->
<!--          <h2 class="title-link">Exercises</h2></a>-->
<!--        <p class="text">Regular exercise is crucial for maintaining not just physical but also mental well-being.-->
<!--          Engaging in physical activity releases endorphins, commonly known as "feel-good" hormones, which contribute-->
<!--          to a positive mood and reduce stress.-->
<!--        <p class="text">Exercise has also been linked to improved cognitive function,-->
<!--        better sleep, and enhanced self-esteem, making it a fundamental component of a holistic approach to overall health.</p>-->
<!--    &lt;!&ndash;  </div>&ndash;&gt;-->
<!--    &lt;!&ndash;</div>&ndash;&gt;-->
<!--  </div>-->

<!--</div>-->



<div class="container">
  <div class="text-section">
    <h1>Welcome to MindSpace</h1>
    <p>Step into a space of compassion and understanding. Welcome to a community focused on mental well-being,
      where support and resources come together. Your journey to a healthier mind begins here. You're not alone;
      let's navigate this path together.</p>
  </div>

  <div class="image-section">
<!--    <img src="assets/MindSpace.png" alt="Image">-->
    <img src="assets/Illustration1.svg" alt="Image">
  </div>
</div>

<div class="service">
  <h1>Our Services</h1>
</div>

<div class="card-container">
  <a (click)="navigateToGames()">
      <div class="card">
      <img src="assets/card1.png" alt="Image">
      <h4>Entertainment</h4>
  <!--    <p class="text">Explore the world of games. Whether it's casual fun or immersive adventures,-->
  <!--      gaming offers an enjoyable escape. Level up your leisure time and discover the joy in every play.</p>-->
      </div>
  </a>

  <a (click)="navigateToVideos()">
    <div class="card">
      <img src="assets/card2.png" alt="Image">
      <h4>Education</h4>
  <!--    <p class="text">Embrace the power of education. Fuel your curiosity, expand your knowledge, and-->
  <!--      unlock endless possibilities. Education is the key to personal growth and a brighter future.</p>-->
    </div>
  </a>

  <a (click)="navigateToMusic()">
    <div class="card">
            <img src="assets/card3.jpg" alt="Image">
            <h4>Relaxation</h4>
  <!--          <p>Discover the serenity of relaxation. Embrace calmness, reduce stress, and rejuvenate your mind and body.-->
  <!--            Elevate your well-being through moments of tranquility.</p>-->
    </div>
  </a>

  <a (click)="navigateToExercises()">
    <div class="card">
      <img src="/assets/card4.jpg" alt="Image">
      <h4>Exercises</h4>
  <!--    <p>Unlock the benefits of exercise – a key to vitality, improved mood, enhanced energy, sharper focus,-->
  <!--      and overall well-being. Move for a healthier, happier you!</p>-->
    </div>
  </a>
</div>

<app-footer class="footer"></app-footer>
