<app-header></app-header>
<div class="main">
  <div class="container">
      <img src="assets/dice.png" style="height:310px; width:260px;">

      <a (click)="navigateToGames()" style="color: #5d5d5d; text-decoration: none;">
        <h2 class="title-link">Gaming Zone: Your Haven for Healing</h2></a>
    <p class="text">In the bustling world we navigate, finding moments of solace is crucial.Gaming Zone is not just a collection
      of games;
      it's a sanctuary designed to provide joy, relaxation, and a helping hand on your journey towards emotional
      well-being.</p>
    <p class="text">Dive into a world of captivating games that challenge and delight. Let the immersive gameplay transport
      you to a space of calm and tranquility.Through the joy of play, find moments of healing.</p>
    <p class="text">Embark on a gaming experience crafted with care to bring smiles and moments of triumph.</p>
  </div>
</div>


<div class="picture">
  <div class="container">
    <h2>Your Companion in Tough Times</h2>
    <p>Let the immersive gameplay transport you to a space of calm and tranquility.</p>
  </div>
</div>


<div class="main">
  <div class="container">
    <img src="assets/brain.png" height="260" width="280">

    <a (click)="navigateToVideos()" style="color: #5d5d5d; text-decoration: none;">
      <h2 class="title-link">Do You Know Enough About Mental Health?</h2></a>
    <p class="text">The importance of mental health awareness cannot be overstated in today's fast-paced and
      interconnected world. As societal pressures and expectations continue to rise, individuals
      are increasingly confronted with challenges that can take a toll on their mental well-being.</p>
     <p>Recognizing and understanding the significance of mental health is crucial for fostering a
      compassionate and supportive environment.</p>
    <p class="text">Mental health awareness promotes early intervention
      and encourages individuals to prioritize their mental well-being
      just as they would their physical health. </p>
  </div>
</div>

<div class="main">
  <div class="container">
    <img src="assets/music.png" height="260" width="280">

    <a (click)="navigateToMusic()" style="color: #5d5d5d; text-decoration: none;">
      <h2 class="title-link">How Powerful is Music for Your Mind?</h2></a>
    <p class="text">Music has proven to be a powerful and therapeutic tool for mental health support.
      Its ability to evoke emotions, provide an outlet for self-expression, and offer a sense
      of connection can significantly impact one's well-being.
    <p class="text">Listening to music has been shown to
      reduce stress, anxiety, and depression, providing a source of comfort and solace during challenging
      times. Music has the unique capacity to resonate with individual experiences and help individuals
    process their emotions.</p>
  </div>
</div>
<app-footer></app-footer>
