#question-counter {
  font-size: 15px;
  color: #5d5d5d;
  margin: auto;
  text-align: center;
  max-width: 600px;
  font-weight: 300;
  line-height: 1.09524;
  letter-spacing: 1px;
}

.quiz-container:after {
  content: "";
  display: table;
  clear: both;
}

.centered,
.quiz-container {
  float: none;
}

.quiz-container h2
 {
  text-align: center;
  max-width: 600px;
  margin: auto auto 1%;
  color: #525559;
  font-size: 35px;
  font-weight: 300;
  line-height: 1.09524;
  letter-spacing: 1px;
  padding-bottom: 5px;

}

.question-container p{
  font-weight: 300;
  font-size: 25px;
  line-height: 1.5;
  /*margin-top: 3%;*/
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 5%;
}

#question {
  background: #66AFFF;
  color: #f8f8f8;
  padding-top: 5%;
}

.options-container {
  /*text-align: center;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;

}

.option {
  /*font-weight: 300;*/
  /*font-size: 1.125em;*/
  /*line-height: 1.5;*/
  /*letter-spacing: 0.5px;*/
  /*display: inline-block;*/
  /*padding-left: 1%;*/
  /*margin: 5px;*/
  /*width: 48%;*/
  /*text-align: left;*/
  width: 48%; /* Adjust as needed, leave some space for margin */
  margin-left: 25%; /* Adjust spacing between options */
  margin-bottom: 3%;
  padding: 10px; /* Add padding to create a box */
  border: 1px solid #ccc; /* Add border for box styling */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
  cursor: pointer; /* Add cursor pointer for better UX */
  transition: background-color 0.3s; /* Add smooth transition for color change */

}

.option:hover {
  background-color: #f0f0f0; /* Add hover effect for better visibility */
}

.option label {
  display: inline-block;
  margin-right: 5px; /* Adjust spacing between the radio button and label */
}

.selected {
  background-color: #66AFFF; /* Set the color for selected option */
  color: #fff; /* Set text color for better visibility */
}

@media (max-width: 768px) {
  /*.options-container {*/
  /*  flex-direction: column;*/
  /*  align-items: center;*/
  /*}*/

  /*.option {*/
  /*  margin-right: 0;*/
  /*  margin-bottom: 5px;*/
  /*}*/
    .option {
      width: 100%;
    }
}
button {
  margin: 3% 0 1% 37%;
  padding: 1% 10%;
  cursor: pointer;
}
.quiz-result {
  color: #1D212B;
  margin: 7% 20%;
}

.quiz-result h3 {
  margin: 2% 22%;
  font-size: 30px;
  color: #5d5d5d;
  text-align: center;
}

.quiz-result p {
  font-size: 20px;
}

.images {
  width: 130px;
  height: 240px;
  margin: 0 32%
}
