.wrapper-intro {
  display: flex;
  justify-content: space-between;
  margin: 10% auto 0;
  padding-bottom: 40px;
  /*border-bottom: 1px solid #3333333F;*/
  width: 100%;
}

.wrapper-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.wrapper-text {}
.row-gap{
  gap: 68px;
}

img {
  width: 300px;
  border-radius: 12px;
  margin-left: 10px;
}

.user-info{
  font-weight: bold;
}

p {
  line-height: 180%;
  font-size: 18px;
}
li{
  margin-bottom: 12px;
}

.quote-container {
  max-width: 30%;
  text-align: center;
  margin: 10px auto;
  padding: 1%;
  color: #333;
}

.quote-container h2{
  font-size: 20px;
}

.quote-container p {
  font-style: italic;
  color: #333333;
}

button {
  margin: 5px 5px 5px 6%;
  width: 10%;
  background-color: #202020;
}

@media (max-width: 768px) {
  .wrapper-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #3333333F;
  }

  .wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrapper-content img {
    width: 200px;
    border-radius: 12px;
  }

  .button-container {
    display: flex;
    gap: 10px;
  }

  .button {
    margin: 30px auto;
  }

  .quote-container {
    text-align: center;
    margin: 10px auto;
    padding: 1%;
    color: #333;
    max-width: 100%;
  }

  .wrapper-content h1 {
    font-size: 25px;
    text-align: center;
  }

  .quote-container h2 {
    font-size: 20px;
  }

  .quote-container p {
    font-style: italic;
    font-size: 14px;
    color: #333333;
  }
}
