.wrapper-intro {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;

}

.wrapper-content {
  display: flex;
  align-items: center;
  gap: 24px;
}

.wrapper-text {}
.row-gap{
  gap: 48px;
}
img {
  width: 300px;
  border-radius: 12px;
}

p {
  line-height: 180%;
}
li{
  margin-bottom: 12px;
}


