.wrapper-intro {
  display: flex;
  justify-content: space-between;
  /*margin: 10px auto;*/
  padding-bottom: 40px;
  border-bottom: 1px solid #3333333F;
  width: 100%;
}

.wrapper-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.wrapper-text {}
.row-gap{
  gap: 48px;
}
img {
  width: 300px;
  border-radius: 12px;
  margin-left: 10px;
}

p {
  line-height: 180%;
}
li{
  margin-bottom: 12px;
}

.quote-container {
  text-align: center;
  margin: 10px auto;
  padding: 1%;
  color: #333;
}

.quote-container h2{
  font-size: 20px;
  color: #333333B7;
}

.quote-container p {
  font-style: italic;
  color: #333333;
}
