.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.landing-page .content .info{
  margin: 120px 40px 20px;
}

.landing-page .content .info h1 {
  color: #202020F2;
  font-size: 44px;
}

.landing-page .content .info p {
  text-align: justify;
  line-height: 1.6;
  font-size: 15px;
  color: #202020F2;
}

.landing-page .content .info button:hover {
  color: #202020F2;
  cursor: pointer;
}

.landing-page .content .image img {
  max-width: 100%;
  margin-top: 5px;
}

.logo{
  width: 70%;
  padding-left: 20%;
}

.logo-name{
  width: 300px;
  padding-left: 25%;
}

@media (max-width: 767px) {
  .landing-page{
    margin-top: 50%;
  }
  .image {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .logo-name{
    padding: 0;
  }
.landing-page .container .info{
  margin: 0;
}
  .landing-page .content .container {
    gap: 0;
    flex-direction: column-reverse;
    text-align: center;
  }
  .landing-page .content .info {
    text-align: center;
  }
  .landing-page .content .info h1 {
    font-size: 18px;
  }
  .landing-page .content .info p {
    display: none;
  }
  button{
    font-size: 20px;
    padding: 10px 80px;
  }
}
