<div class="landing-page">
  <div class="content">
    <div class="container">
      <div class="info">
        <h1>Empower Your Mind, Nurture Your Soul</h1>
        <p>Life can be challenging, and we understand the importance of taking care of your mental health. This app is designed to empower you with the tools and support needed to foster a healthier and happier life.</p>
        <button type="button" (click)="navigateToRegister()" class="button-secondary-regular separator-right" mat-flat-button>Start</button>
      </div>
      <div class="image">
        <img src="assets/pngwing.com.png" class="logo">
        <img src="assets/Logo%20MindSpace.png" class="logo-name">
      </div>
    </div>
  </div>
</div>


