
/* Start Landing Page */
.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
/*@media (max-width: 767px) {*/
/*  .landing-page .content .container {*/
/*    gap: 0;*/
/*    min-height: calc(100vh - 101px);*/
/*    justify-content: center;*/
/*    flex-direction: column-reverse;*/
/*  }*/
/*  .landing-page .content .info h1 {*/
/*    font-size: 28px;*/
/*  }*/
/*}*/

.landing-page .content .info{
  margin: 120px 30px 30px;
}

.landing-page .content .info h1 {
  color: #202020F2;
  font-size: 44px;

}
.landing-page .content .info p {
  text-align: justify;
  margin: 2%;
  line-height: 1.6;
  font-size: 15px;
  color: #202020F2;
}

.landing-page .content .info button:hover {
  color: #202020F2;
  cursor: pointer;
}
.landing-page .content .image img {
  max-width: 100%;
  margin-top: 5px;
}



@media (max-width: 767px) {
  .landing-page .content .container {
    gap: 0;
    flex-direction: column-reverse;
    text-align: center;
  }

  .landing-page .content .info {
    text-align: center;
    margin-bottom: 15px;
  }

  .landing-page .content .info h1 {
    font-size: 18px;
  }

  .landing-page .content .info p {
    font-size: 13px;
  }
}
