<app-header></app-header>
<div class="container">
  <img src="assets/FindWords.png" class="image">
  <div id="main-container">
    <div>
      <p *ngIf="!(congratulatoryMessage && displayTimeTaken)">
        Time elapsed: {{ timer }} seconds
      </p>
    </div>

    <p *ngIf="foundWords.length === 0 && !errorMessage && !congratulatoryMessage">
      Find {{ wordsToFind.length }} words!</p>
    <div id="game-container">
      <div *ngFor="let row of grid; let i = index" class="row">
        <div *ngFor="let cell of row; let j = index" class="cell"
             >
          {{ cell }}
        </div>
      </div>
    </div>
      <div class="word-input-container">
        <label for="wordInput">Enter Word:</label>
        <input type="text" id="wordInput" [(ngModel)]="userInput" (keyup.enter)="checkWord()" />
      </div>
      <button (click)="checkWord()">Check Word</button>
      <div class="word-search-container">
      <div class="found-words-container">
        <div *ngIf="errorMessage">{{ errorMessage }}</div>

        <div *ngIf="congratulatoryMessage || foundWords.length > 0">
          <div *ngIf="congratulatoryMessage">{{ congratulatoryMessage }}</div>

          <div *ngIf="foundWords.length > 0">
            <p>Found Words ({{ foundWords.length }}/{{ wordsToFind.length }}):</p>
            <ul>
              <li *ngFor="let foundWord of foundWords">{{ foundWord }}</li>
            </ul>
            <p *ngIf="congratulatoryMessage && displayTimeTaken">Time taken: {{ elapsedTime }} seconds</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
