/*#main-container{*/
/*  margin-top: 0.5%;*/
/*  margin-right: 5%;*/
/*}*/

/*.image {*/
/*  width: 60%;*/
/*  margin: auto auto;*/
/*}*/

/*.container {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

#game-container {
  display: grid;
  grid-template-columns: repeat(9, 50px);
  gap: 5px;
}

.cell {
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #66AFFF;
  color: white;
}
ul {
  list-style-type: none;
  padding: 0;
}

button{
  width: 170px;
}

.word-search-container {
  display: flex;
}

.word-input-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 7%;
}

.word-input-container label {
  margin-bottom: 5px;
  margin-right: 10px;
}

.word-input-container input {
  margin-bottom: 10px;
  font-size: 16px;
  width: 60%;
}


/*Additional*/

/* Start Landing Page */
.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  margin: 3%;
}
@media (max-width: 767px) {
  .landing-page .content .container {
    gap: 0;
    min-height: calc(100vh - 101px);
    justify-content: center;
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .landing-page .content .info {
    text-align: center;
    margin-bottom: 15px
  }
}
.landing-page .content .info h1 {
  color: #5d5d5d;
  font-size: 44px;

}
.landing-page .content .info p {
  text-align: justify;
  margin: 2%;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}

.landing-page .content .info button:hover {
  color: #5d5d5d;
  cursor: pointer;
}
.landing-page .content .image img {
  max-width: 80%;
  position: inherit;
}
/* End Landing Page */
