.content {
  max-width: 1000px;
  margin: 0 auto;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(12, 50px);
  gap: 5px;
  /*border: 1px solid #202020F2;*/
  /*border-radius: 20px;*/
  padding: 10px;
  justify-content: center;
  align-items: center;
}

img{
  max-width: 100%;
  height: 100px;
  margin-bottom: -2%;
}

.mission{
  font-size: 18px;
  font-weight: bold;
}

.message{
  text-align: center;
  line-height: 30px;
}

.cell {
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #66AFFF;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}


found-words-counter{
  margin-bottom: 5px;
  margin-right: 10px;
  color: #202020F2;
  margin-left: 5px;
  font-weight: lighter;
  padding: 2px;
  font-size: 15px;
}

.word-input-container, button {
  margin-left: 5%;
}

.word-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 4%;
}

.word-input-container label, p {
  margin-bottom: 5px;
  margin-right: 10px;
  color: #202020F2;
  margin-left: 5px;
  font-weight: lighter;
  padding: 2px;
}

.word-input-container input {
  background: #FFFFFF;
  height: 40px;
  padding: 1px 1px 1px 10px;
  margin-bottom: 10px;
  color: #202020F2;
  font-size: 13px;
  font-weight: lighter;
  border: 0.2px solid #5D5D5D16;
  border-bottom: 0.1px solid #5D5D5D59;
  border-radius: 30px;
  width: 50%;
}

button{
  width: 50%;
}

.word-search-container {
  display: flex;
}

.content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  margin: auto 3%;
}
@media (max-width: 767px) {
 .content .container {
    gap: 0;
    min-height: calc(100vh - 101px);
    justify-content: center;
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
.content .info {
    text-align: center;
    margin-bottom: 15px
  }
}
.content .info h1 {
  color: #5d5d5d;
  font-size: 44px;

}
.content .info p {
  text-align: justify;
  margin: 2%;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}

.content .info button:hover {
  color: #5d5d5d;
  cursor: pointer;
}
.content .image img {
  max-width: 80%;
  position: inherit;
}
