h2{
  text-align: center;
  font-size: 28px;
}

#introduction{
  text-align: center;
  margin: 3% 4%;
  line-height: 30px;
  letter-spacing: 1px;
}

.intro{
  background: linear-gradient(90deg, rgba(225,239,253,1) 2%, rgba(173,211,252,1) 23%, rgba(132,189,251,1) 90%, rgba(102,175,255,1) 100%);
  padding: 30px 30px 40px;
  border-radius: 250px 50px 250px 50px;
  margin-bottom: 5%;
}

.choice{
  width: 65%;
  height: 24%;
  border-radius: 10px 0 50px 100px;
  margin-left: 15%;
}

.adventures{
  text-align: center;
  color: #202020F2;
  margin-top: 3%;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  grid-row-gap: 5%;
  font-size: 16px;
  margin: auto 2% 5%;

}

.game-grid p {
  text-align: justify-all;
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 0.7px;
  line-height: 25px;
  flex-grow: 1; /* Allow text to grow and take available space */
  margin: auto 5%;
}

.game-card {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  border-radius: 15px;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 95%; /* Adjust the height to 100% */
}

.game-card:hover {
  transition: transform 0.2s ease-in-out;
  background-color: #F3F4F8;
}

.game-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.button-container {
  position: relative;
  bottom: 15px; /* Adjust as needed */
  width: 100%;
  text-align: center; /* Center the buttons horizontally */
}

button {
  width: 80%;
  font-size: 20px;
  margin: 5% auto; /* Center the button horizontally */
  padding: 10px; /* Adjust padding as needed */
}

@media (max-width: 768px) {
  h2{
    font-size: 17px;
  }
  #introduction{
    display: none;
  }
  .game-grid{
    margin: auto;
    grid-row-gap: 2%;
  }
  .game-card:hover{
    transition: none;
    background: #ffffff;
  }
  .game-grid h3{
    font-size: 16px;
  }
  .game-grid p{
    font-size: 14px;
  }
   button{
    font-size: 14px;
    padding: 4px;
  }
}
