<div class="content">
    <div class="container">
      <div class="info">
        <div class="intro">
          <h2 class="welcome">Welcome back Friend 🥳</h2>
          <h4 class="login">Let's continue your mental health journey </h4>
        </div>
        <div class="form">
          <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <label for="name">Full Name</label>
              <input id="name" type="text" [formControlName]="'name'" placeholder="Jane Doe">
            <label for="email">Email address</label>
            <input id="email" type="email" [formControlName]="'email'" placeholder="name@example.com">
            <label for="pass">Password</label>
            <input id="pass" type="password" [formControlName]="'password'" placeholder="********">
          </form>
        </div>
        <button type="submit" [disabled]="loginForm.invalid" (click)="navigateToHome()">Prijava</button>
        <p class="register">You don't have an account? <a href="./register" >Create here.</a></p>
      </div>
      <div class="image">
        <img src="assets/Login.png" style="width: 90%; padding-left: 50px;">
      </div>
    </div>
  </div>

