a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.intro{
  color: #FFFFFF;
  margin-left: 50px;
  margin-bottom: 10%;
  font-weight: lighter;
}

.welcome{
  font-size: 30px;
  font-weight: bold;
  color: #f8f8f8;
}

.login{
  font-size: 20px;
  margin-top: -5px;
  font-weight: lighter;
  color: #f8f8f8;
}

.content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  padding-left: 3%;
}

.content .container .info {
  background: #66AFFF;
  padding-top: 4%;
  padding-bottom: 3%;
  width: 80%;
  border-radius: 40px;
}

.content .image img {
  max-width: 100%;
}

.form{
  padding-left: 10%;
  width: 80%;
}

input {
  background: #FFFFFF;
  width: 100%;
  height: 40px;
  padding: 2px 2px 2px 13px;
  margin-bottom: 15px;
  margin-top: 5px;
  color: #202020F2;
  font-size: 12px;
  font-weight: lighter;
  border: 0.2px solid #5D5D5D16;
  border-bottom: 0.1px solid #5D5D5D59;
  border-radius: 30px;
}

label {
  color: #f8f8f8;
  margin-left: 5px;
  font-weight: lighter;
  padding: 2px;
}

.content button {
  margin-bottom: 10px;
  padding: 2px 2px 2px 10px;
  width: 102%;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  color: #f8f8f8;
  background: #202020F2;
  font-size: 18px;
  font-weight: lighter;
}

.content button:hover {
  color: #5d5d5d;
  cursor: pointer;
}

a{
  color: #FFFFFF;
  appearance: none;
  font-weight: bold;
}

.register{
  color: #FFFFFF;
  margin-left: 50px;
  font-weight: lighter;
  margin-top: 10%;
}

@media (max-width: 768px) {
  .content .container {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  .content .container .info {
    width: 90%;
    margin-bottom: 20px;
  }

  .intro {
    margin-left: 0;
    text-align: center;
  }

  .content .image {
    display: none;
  }

  input {
    width: 110%;
    font-size: 12px;
    padding-left: 10px;
    margin-left: 5%;
  }

  label {
    font-size: 14px;
    padding: 10px 20px;
  }

  .register {
    margin-left: -40px;
    text-align: center;
  }

  .content button {
    width: 110%;
    margin-left: 5%;
    font-size: 14px;
  }

  .form {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 480px) {
  .welcome {
    font-size: 24px;
  }
  .login {
    font-size: 16px;
  }
  input {
    width: 110%;
    font-size: 12px;
    padding-left: 10px;
    margin-left: 5%;
  }
  label, .register {
    font-size: 14px;
    padding: 10px 20px;
  }
  .register {
    margin-left: -40px;
    text-align: center;
  }
  .content button {
    width: 110%;
    margin-left: 5%;
    font-size: 14px;
  }
  .form {
    padding-left: 0;
    padding-right: 0;
  }
}
