/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 400;
}

a {
  font-weight: 400;
}

a:hover {
  color: #66AFFF;
  text-decoration: underline;
  cursor: pointer;
}

/* alignment */
.wrap-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wrap-column {
  display: flex;
  flex-direction: column;
}

.wrap-space-horizontal {
  display: flex;
  justify-content: space-between;
}

.wrap-center-vertical {
  display: flex;
  align-items: center;
}

/* buttons */
button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  font-size: 13px;
  cursor: pointer;
  /*background: #04bd6c;*/
  background: #66AFFF;
  color: #f8f8f8;
}

button:hover {
  color: #202020F2;
  cursor: pointer;
}

p, h1, h2, h3, h4 {
  color: #202020F2;
}
.button-avatar {
  font-size: 18px;
  font-weight: bold;
}
