<app-header></app-header>
<div class="background-image">
  <div class="img-slider">
    <div class="slide active">
      <img src="assets/girl-gamer.jpg" alt="">
      <div class="info">
        <h1>Come back with your shield, or on it.</h1>
        <h2>Leonidas of Sparta</h2>
      </div>
    </div>
    <div class="slide">
      <img src="assets/girl-gamer.jpg" alt="">
      <div class="info">
        <h1>Victory belongs to the most persevering.</h1>
        <h2>Napoleon Bonaparte</h2>
      </div>
    </div>
    <div class="slide">
      <img src="assets/girl-gamer.jpg" alt="">
      <div class="info">
        <h1>I will either find a way or make one.</h1>
        <h2>Hannibal</h2>
      </div>
    </div>
    <div class="slide">
      <img src="assets/girl-gamer.jpg" alt="">
      <div class="info">
        <h1>The strength of a nation derives from the integrity of the home.</h1>
        <h2>Attila</h2>
      </div>
    </div>
    <div class="slide">
      <img src="assets/girl-gamer.jpg" alt="">
      <div class="info">
        <h1>I came,<br> I saw, <br> I conquered.</h1>
        <h2>Julius Caesar</h2>
      </div>
    </div>
    <div class="slide">
      <img src="assets/girl-gamer.jpg" alt="">
      <div class="info">
        <h1>The best way to lead people is to walk beside them.</h1>
        <h2>Mehmet II</h2>
      </div>
    </div>
  </div>
  <button class="button" [routerLink]="">Quiz</button>
</div>
